
/* LAYOUT */
@font-face{
  font-family: 'Helvetica Condensed';
  src: url(../fonts/Helvetica-Condensed.otf);
}
@font-face{
  font-family: 'Graphik BoldItalic';
  src: url(../fonts/Graphik-BoldItalic.otf);
}
@font-face{
  font-family: 'Graphik SemiboldItalic';
  src: url(../fonts/Graphik-SemiboldItalic.otf);
}
@font-face{
  font-family: 'Graphik Medium';
  src: url(../fonts/Graphik-Medium.otf);
}
#placeholder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1030;
  background-color: #FFFFFF;
}
#placeholder .d-flex{
  width: 100vw;
  height: 100vh;
}

/* GLOBALS */
@media (min-width: 1367px){
  .container{
    max-width: 1340px;
  }
}
.g-bolditalic{
  font-family: 'Graphik BoldItalic', sans-serif;
}
.g-semibolditalic{
  font-family: 'Graphik SemiboldItalic', sans-serif;
}
.g-medium{
  font-family: 'Graphik Medium', sans-serif;
}
.h-condensed{
  font-family: 'Helvetica Condensed', sans-serif;
}

.bg-gray{
  background-color: #f0f0f0;
}

.btn-generic{
  background: #000;
  color: #FFF !important;
  text-transform: uppercase;
  padding: 7px 20px;
  letter-spacing: 3px;
  border-radius: 0;
  border: 2px solid transparent;
}
.btn-generic:hover{
  background: #FFF;
  color: #000 !important;
  border: 2px solid #000;
}
a:focus{
  outline: 0;
  box-shadow: none;
}
.btn.focus, .btn:focus{
  outline: 0;
  box-shadow: none;
}

/* HOME */
/* Sldier */
.main-slider{
  margin-top: 95px;
}
@media (min-width: 1367px){
  .main-slider{
    margin-top: 90px;
  }
}
@media (min-width: 1441px){
  .main-slider{
    margin-top: 120px;
  }
}
.slick-slider .slider-arrow{
  width: 30px;
  top: calc(50% - 15px);
  position: absolute;
  cursor: pointer;
}
.slick-slider .slider-arrow.arrow--left{
  left: 20px;
  transform: rotate(180deg);
  z-index: 1;
}
.slick-slider .slider-arrow.arrow--right{
  right: 20px;
}
.slick-slide{
  position: relative;
}
.slick-slide img{
  width: 100%;
}
.slick-slide .slide-text{
  position: absolute;
  width: 100%;
  bottom: 17%;
}
@media (min-width: 1367px){
  .slick-slide .slide-text{
    bottom: 20%;
  }
}
@media (min-width: 1441px){
  .slick-slide .slide-text{
    bottom: 22%;
  }
}
.slick-slide .slide-text h1{ 
  color: #FFF;
  font-size: 1.5rem;
  letter-spacing: 7px;
  line-height: 1.25;
}
@media (min-width: 1367px){
  .slick-slide .slide-text h1{
    font-size: 2rem;
    letter-spacing: 10px;
  }
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.slick-dots{
  bottom: 10px;
}
.slick-dots li button{
  border: 1.5px solid #FFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.slick-dots li button:before{
  font-size: 18px;
  color: transparent;
  opacity: .75;
  line-height: 20px;
  width: 18px;
  height: 18px;
}

.slick-dots li.slick-active button{
  border-color: transparent;
}
.slick-dots li.slick-active button:before{
  color: #FFF;
  opacity: 1;
}
/* .slick-prev:before, .slick-next:before{
  font-family: 'slick';
} */
@media (max-width: 1367px) and (min-width: 1024px) {
  .content-slider{
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Phrase */
.phrase{
 /* padding-top: 3rem;
 padding-bottom: 2rem; */
 overflow-x: hidden;
}
/* Showroom */
.showroom .h2{
  letter-spacing: 5px;
}
.showroom p{
  font-size: 1.75rem;
  line-height: 1.5;
}
/* Destacados */
.destacados h3{
  letter-spacing: 5px;
}
.destacados img{
  cursor: pointer;
}
.destacados img:hover{
  box-shadow: 0 5px 17px rgba(0,0,0,.35);
}
.destacados .price{
  font-size: 18px;
}
.destacados .name{
  font-size: 22px;
}